header {
    text-align: center;
}

body {
    background-image: url(./FondoMenu3.png);
}

h1, h2, h3, p, li {
    color: white;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    padding: 3% 0 1%;

}

h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3.2rem;
    padding: 1% 0; 
}

h3 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2rem;
    text-align: center;
    padding: 5% 0;
}

li, p {
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    padding: 1% 0;
}

footer {
    text-align: center;
}

img {
    width:4%;
    padding-bottom: 2%;
}

hr {
    margin: auto;
    border: dotted 5px;
    border-top: none;
    width: 10%;
    color: white;
    opacity: 100%;
}